<html>

<head>
    <title>Email Validation</title>
</head>

<body>
    <h1>Enter email</h1>
    <form action= '/new_user' method='POST'>
        <label for="email">Email:<input type="text" name="email" id="email"></label>
        <input type="submit" value="Add">
    </form>
    

    {% for users in displayAll %}
    <p>ID: {{ users['id'] }}</p>
    <p>Email: {{ users['email'] }}</p>
    <p>Created: {{ users['created_at'] }}</p>
    <p>Updated: {{ users['updated_at'] }}</p>
    <hr> 
    {% endfor %}
    

</body>

</html>