<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Courses</title>
         {% load staticfiles %}
        <link href="{% static 'course_sign/css/coursestyle.css/' %}" rel="stylesheet" media="screen" charset="utf-8">
    </head>
    <body>
        <div class = "input">
            <form class = "boxes" action="/courses" method="POST">
            {% csrf_token %}
            <h2>Add new course</h2>   
                <h4>Name:</h4>
                <br>
                <input type="text" name="course_name">
                <br>
                <h4>Description:</h4>
                <br>
                <textarea rows="4" cols="80" name = "description"></textarea>
                <input type="submit" value="Add">
            </form>
     
            {% for idx in all_courses %}
            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Course ID</th>
                    <th>Course Description</th>
                    <th>Description ID</th>
                    <th>Action</th>
                </tr>
                <tr> 
                    <td>{{ idx.course_name}}</td>
                    <td>{{ idx.id }}</td>
                    <td>{{ idx.description.content }}</td>
                    <td>{{ idx.description.id }}</td>
                    <td><form action = "remove/{{ idx.id }}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value = "Remove">
                    </form></td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </body>
</html>