<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    </head>
    <body>
        <!--loop to show errors before allowing person to proceed-->
        {% for error in messages %} 
           <p>{{ error }}</p>
        {% endfor %}
        <form class ="" action= '/process' method = "POST" >
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="text" name="email" value="">
            <input class="button-primary" type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>