<html>
    <head>
        <title>Form Test Index</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <form action='/users' method ='post'>
            Name: 
            <input type="text" name='name'>
            Email: 
            <input type="text" name='email'>
            Female: 
            <input type="radio" name='gender' value='female'>
            Male: 
            <input type="radio" name="gender" value="male"> 
            Other: 
            <input type="radio" name="gender" value="other"> 
            Subscribe: 
            <input type="checkbox" name="subscribe" value="subscribe">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>